<div mdbModal #frame="mdbModal" class="modal fade left" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true" [config]="{ backdrop: true, ignoreBackdropClick: true }">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">LOGIN</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form (ngSubmit)="onSubmit()" [formGroup]="formGroup" >
        <div class="modal-body mx-3 mb-3">
          <div class="mb-4">
            <input type="email" id="email" name="email" formControlName="email" required placeholder="E-mail" class="form-control validate">
            <div *ngIf="email.invalid && email.touched">
              <small *ngIf="email.errors['email']" class="red-text">Please enter a valid email.</small>
              <small *ngIf="email.errors['required']" class="red-text">Email is required.</small>
            </div>
          </div>
          <div class="mb-4">
            <!-- <input type="password" name="password" formControlName="password" placeholder="Password" class="form-control validate" required> -->
            <input type="password" name="password" formControlName="password" placeholder="Password" class="form-control validate" required>
            <div *ngIf="password.invalid && (password.dirty || password.touched)">
              <small class="red-text">Password is required</small>
            </div>
          </div>
          <div class="mb-2">
            <div class="float-right font-small">
              <a href="#">Forget Password</a>
            </div>
          </div>
        </div>
        <div class="modal-body mx-3  d-flex justify-content-center" *ngIf="isLoginError">
          <small class="red-text">There was an error with your E-Mail/Password combination. Please try again.</small>
        </div>
        <div class="modal-footer d-flex justify-content-center" style="border-top: medium none !important;">
          <button type="submit" class="btn btn-round" [disabled]="!formGroup.valid" mdbWavesEffect>Login</button>
        </div>

      </form>
      <div class="modal-footer mx-4 pt-3 mb-1">
        <p class="font-small d-flex justify-content-end">Not a member ?
          <a class="blue-text ml-1" (click)="modal.onShow();frame.hide();"> Register</a>
        </p>
      </div>
    </div>
  </div>
</div>

<app-confirm-model  #modal></app-confirm-model>
