<section>

  <div class="row mb-5">
    <div class="col-xl-12">
      <div style="padding:50px;" class="dashboard-box">
        <div class="row">
          <div class="col-md-12">
            <h3>
              <strong>
                <center>
                  Society Registration
                </center>

              </strong>
            </h3>

          </div>
        </div>
        <hr>
        <div class="row">
          


          <div class="col-lg-6">
            <div class="float-center">
              <button [routerLink]="['namereservation']" class="btn btn-blur btn-mr0 nav-link light-orenge-text"
                type="button" mdbWavesEffect>Normal Registration</button>
            </div>
          </div>


          <div class="col-lg-6">
            <div class="float-center">
              <button [routerLink]="['registersecretarypvt']" class="btn btn-blur btn-mr0 nav-link light-orenge-text"
                type="button" mdbWavesEffect>
                Bulk Registration</button>
            </div>
          </div>
        </div>
        <hr>
      </div>
    </div>
  </div>
  <hr>
</section>







