<section>
  <div class="row mb-5 mt-4">
    <div class="col-xl-12">
      <h4>Change Password - </h4>
      <hr>
      <div class="dashboard-box">
        <ul class="dashboard-box-list">
          <li>
            <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group row">
                    <small class="col-sm-4">Old Password</small>
                    <small class="col-sm-1">: </small>
                    <div class="col-sm-7">
                      <input type="password" id="orangeForm-company-name" uniquePassword formControlName="oldPassword"
                        placeholder="Old Password" class="form-control form-control-sm">
                    </div>
                    <div class="col-md-12">
                        <div *ngIf="oldPassword.invalid && oldPassword.touched">
                          <small *ngIf="oldPassword.errors['email']" class="red-text">Please enter a Old Password.</small>
                          <small *ngIf="oldPassword.errors['required']" class="red-text">Old Password is required.</small>
                          <small *ngIf="oldPassword.errors['uniquePassword']" class="red-text">Your current password does not matches with the password you provided. Please try again.</small>
                        </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <small class="col-sm-4">New Password</small>
                    <small class="col-sm-1">: </small>
                    <div class="col-sm-7">
                      <input type="password" id="orangeForm-sinhala-name" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[$@$#!%*?&])[A-Za-z\d$@$#!%*?&]{8,}" formControlName="newPassword" placeholder="New Password"
                        class="form-control form-control-sm">
                    </div>
                    <div class="col-md-12">
                        <div *ngIf="newPassword.invalid && (newPassword.dirty || newPassword.touched)">
                            <small class="red-text">Your password must be over 8 characters and include an uppercase letter, a number and a special character</small>
                          </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <small class="col-sm-4">Confirm New Passowrd</small>
                    <small class="col-sm-1">: </small>
                    <div class="col-sm-7">
                      <input type="password" id="orangeForm-tamil-name" formControlName="confirmPassword" placeholder="Confirm New Passowrd"
                        class="form-control form-control-sm">
                    </div>
                    <div class="col-sm-12">
                      <div *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)">
                          <small *ngIf="confirmPassword.errors['required']" class="red-text">Confirm Password is required.</small>
                          <small *ngIf="confirmPassword.errors['compare']" class="red-text">Confirm Password does not match</small>
                      </div>
                    </div>
                  </div>
                </div>
                <hr>
              </div>
              <hr>
              <div class="row">
                <div class="col-md-12">
                  <div class="float-right">
                    <button type="submit"  class="button" [disabled]="!changePasswordForm.valid">
                      Save
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
