
<ul>
  <li>
    <a routerLink="advance/name/reservation" routerLinkActive="active" class="btn btn_outline btn_fullwidth btn_icon-left btn_divider" title="Name Reservation">
      <i class="btn__icon fas fa-cart-arrow-down mr-3 "></i>
      <span class="btn__label">Name Reservation</span>
    </a>
  </li>
  <li>
    <a routerLink="home" routerLinkActive="active" class="btn btn_outline btn_fullwidth btn_icon-left btn_divider"
      title="Company Incorperate">
      <i class="btn__icon fas fa-building mr-3 "></i>
      <span class="btn__label">Company Incorperate</span>
    </a>

  </li>
  <li>
    <a routerLinkActive="active" class="btn btn_outline btn_fullwidth btn_icon-left btn_divider" title="Register For Tenders">
      <i class="btn__icon fas fa-box-open mr-3 "></i>
      <span class="btn__label">Register For Tenders</span>
    </a>
  </li>
  <li>
    <a routerLinkActive="active" class="btn btn_outline btn_fullwidth btn_icon-left btn_divider" title="Register For Auditors">
      <i class="btn__icon fas fas fa-pen-nib mr-3 "></i>
      <span class="btn__label">Register For Auditors</span>
    </a>
  </li>
  <li>
    <a routerLink="selectregistersecretary" routerLinkActive="active" class="btn btn_outline btn_fullwidth btn_icon-left btn_divider" title="Register For Secutory">
      <i class="btn__icon fas fa-users mr-3 "></i>
      <span class="btn__label">Register For Secretary</span>
    </a>
  </li>
  <li>
    <a routerLink="selectregistersociety" routerLinkActive="active" class="btn btn_outline btn_fullwidth btn_icon-left btn_divider" title="Register For Society">
      <i class="btn__icon fas fa-users mr-3 "></i>
      <span class="btn__label">Register For Society</span>
    </a>
  </li>
  <li>
    <a routerLinkActive="active" class="btn btn_outline btn_fullwidth btn_icon-left btn_divider" title="Amalgamation" target="_self" data-iframe="true">
      <i class="btn__icon fas fa-american-sign-language-interpreting mr-3 "></i>
      <span class="btn__label">Amalgamation</span>
    </a>
  </li>
  <li>
    <a routerLinkActive="active" class="btn btn_outline btn_primary btn_fullwidth btn_default stm-button_5b840848e0c0a btn_icon-left btn_divider"
      title="Other Service" target="_self" data-iframe="true">
      <i class="btn__icon fas fa-headset mr-3 "></i>
      <span class="btn__label">Other Service</span>
    </a>
  </li>
  <li>
    <a routerLink="settings" routerLinkActive="active" class="btn btn_outline btn_primary btn_fullwidth btn_default stm-button_5b840848e0c0a btn_icon-left btn_divider"
      title="Setting" target="_self" data-iframe="true">
      <i class="btn__icon fas fa-cog mr-3 "></i>
      <span class="btn__label">Setting</span>
    </a>
  </li>
</ul>
