<section>
  <div class="row mb-5 mt-4">
    <div class="col-xl-12">
      <h4>Setting and Privacy</h4>
      <hr>
      <ul>
        <li>
          <a>Setting View</a>
          <ul>
            <li>
              <a>Personal Information</a>
            </li>
            <li>
              <a>Help and Supply</a>
            </li>
            <li>
              <a>Update Personal Information</a>
            </li>
          </ul>
        </li>

        <li>
          <a>
            Privacy
            <ul>
              <li>
                <a>Payment Information</a>
              </li>
              <li>
                <a [routerLink]="['change/my/password']">Change Password</a>
              </li>
            </ul>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
