<section>

  <div class="row mb-5">
    <div class="col-xl-12">
      <div style="padding:50px;" class="dashboard-box">
        <div class="row">
          <div class="col-md-12">
            <h3>
              <strong>
                <center>
                  Secretary Registration
                </center>

              </strong>
            </h3>

          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-4">
            <div class="float-center">
              <button (click)="basicModal.show()" routerLinkActive="active" class="btn btn-blur btn-mr0 nav-link light-orenge-text"
                type="button" mdbWavesEffect>Register
                as a Person</button>
            </div>
          </div>


          <div class="col-md-4">
            <div class="float-center">
              <button [routerLink]="['registersecretaryfirm']" class="btn btn-blur btn-mr0 nav-link light-orenge-text"
                type="button" mdbWavesEffect>
                Register as a Firm</button>
            </div>
          </div>


          <div class="col-md-4">
            <div class="float-center">
              <button [routerLink]="['registersecretarypvt']" class="btn btn-blur btn-mr0 nav-link light-orenge-text"
                type="button" mdbWavesEffect>
                Register as a PVT LTD</button>
            </div>
          </div>
        </div>
        <hr>
      </div>
    </div>
  </div>
  <hr>
</section>



<!--Confirm country modal(not used)-->
<div mdbModal #frame="mdbModal" class="modal fade left" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true" [config]="{ backdrop: true, ignoreBackdropClick: true }">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title w-100 font-weight-bold">Country of Origin</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <small>Please make the appropriate choice to mark your country of Origin and Proceed</small>

      </div>
      <div class="modal-footer">
        <div class="row">
          <div class="col-6">
            <button class="btn btn-primary float-right" (click)="sriLankan()" role="button">Sri Lankan</button>
          </div>
          <div class="col-6">
            <button class="btn btn-primary" (click)="nonSriLankan()" role="button">Non Sri Lankan</button>
          </div>
        </div>
        <br>

        <div id="div1">
          <div class="row">
            <div class="col-8">
              <input (input)="nicValidate()" pattern="[a-zA-Z ]*" class="form-control form-control-sm" required name="nic"
                [(ngModel)]="nic" placeholder="Your NIC Number">
              <span class="req-message">Valid NIC required</span>

            </div>
            <div class="col-4">
              <!-- <button class="btn btn-primary"></button> -->
              <a [class.disabled]="!enableNic" [routerLink]="['registersecretarynatural', nic ]" class="button  btn-primary">
                Continue
              </a>
            </div>
          </div>
        </div>
        <div id="div2">
          <small>Sorry. You can't register as a secretary!</small>
        </div>
      </div>
    </div>
  </div>
</div>




<!--Confirm country modal New-->
<div mdbModal #basicModal="mdbModal" id="sec-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right close-modal-item" aria-label="Close" (click)="basicModal.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100" id="myModalLabel" style="text-align:center;color:#f35b3f">Country of Origin
          <br />

        </h4>
      </div>
      <div class="modal-body">

        <div class="stakeholder-type-tab-wrapper">
          <div (click)="sriLankan()" class="tab local-tab active">Sri Lankan ? </div>
          <div (click)="nonSriLankan()" class="tab local-ta">Non Sri Lankan</div>
        </div>

        <div id="div3">
          <div class="form-group col-md-6 nic-field-wrapper">

            <label class="col-form-label col-form-label-sm">NIC No
              <span class="req">*</span>
            </label>
            <input pattern="[0-9]{9}[x|X|v|V]" required  maxlength="10" name="nic" [(ngModel)]="nic"
              class="form-control form-control-sm modal-input-director-nic" placeholder="NIC">
            <span class="req-message">Valid NIC required</span>

            <span class="req-message">Valid NIC required</span>
            <!-- <span *ngIf="directorAlreadyExistMessage" class="already-exist-message">{{directorAlreadyExistMessage}}</span> -->
            <button [routerLink]="['registersecretarynatural', nic ]" class="btn btn-success nic-continue-button">continue</button>
            <!-- <a  [routerLink]="['registersecretarynatural', nic ]" class="button  btn-primary">
              Continue
            </a> -->
          </div>
        </div>

        <div id="div4">
          <br>
          <hr>
          <h3 align="center">Sorry, You can't register as a secretary!</h3>
        </div>



      </div>
      <div class="modal-footer" style="justify-content: flex-end">

        <!-- <button style="background-color: #bbb!important;" (click)="resetDirRecord()" type="button" mdbBtn color="secondary"
          class="btn btn-previous" mdbWavesEffect>RESET</button>&nbsp;

        <button [disabled]="!validDirector" (click)="saveDirectorRecord()" type="button" mdbBtn color="secondary" class="btn btn-sm relative waves-light add-new-stakeholder add-director"
          mdbWavesEffect>ADD</button> -->
      </div>
    </div>
  </div>
</div>