<div>
  <div class="container mt-2  mb-2">
    <div class="row">
      <div class="col">
        <div class="glyph fs1">
          <div class="clearfix bshadow0 pbs">
            <span> <i class="fas fa-pen-square bg-aqua"></i></span>
            <span class="count-lable">{{ status.all }}</span>
            <span class="mls"> All</span>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="glyph fs1">
          <div class="clearfix bshadow0 pbs">
            <span><i class="fas fa-arrow-alt-circle-down bg-yellow"></i></span>
            <span class="count-lable">{{ status.pending }}</span>
            <span class="mls"> Pending</span>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="glyph fs1">
          <div class="clearfix bshadow0 pbs">
            <span><i class="fas fa-redo bg-green"></i></span>
            <span class="count-lable">{{ status.approval }}</span>
            <span class="mls"> Approval</span>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="glyph fs1">
          <div class="clearfix bshadow0 pbs">
            <span> <i class="fas fa-times-circle bg-red"></i></span>
            <span class="count-lable">{{ status.rejected }}</span>
            <span class="mls"> Rejected</span>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="glyph fs1">
          <div class="clearfix bshadow0 pbs">
            <span><i class="fas fa-ban bg-purple"></i></span>
            <span class="count-lable">{{ status.canceled }}</span>
            <span class="mls"> Canceled</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--
<div class="container mt-3">
  <div class="row">
    <div class="col-lg-2 col-xs-6">
      <div class="small-box bg-aqua">
        <div class="inner">
          <h3>10</h3>
          <p>All</p>
        </div>
        <div class="icon">
          <i class="fas fa-pen-square"></i>
        </div>
      </div>
    </div>
    <div class="col-lg-2 col-xs-6">
      <div class="small-box bg-dark-blue">
        <div class="inner">
          <h3>05</h3>
          <p>Submitted</p>
        </div>
        <div class="icon">
          <i class="fas fa-arrow-alt-circle-down"></i>
        </div>
      </div>
    </div>
    <div class="col-lg-2 col-xs-6">
      <div class="small-box bg-yellow">
        <div class="inner">
          <h3>04</h3>
          <p>Resubmitted</p>
        </div>
        <div class="icon">
          <i class="fas fa-redo"></i>
        </div>
      </div>
    </div>
    <div class="col-lg-2 col-xs-6">
      <div class="small-box bg-green">
        <div class="inner">
          <h3>03</h3>
          <p>Approved</p>
        </div>
        <div class="icon">
          <i class="fas fa-check-square"></i>
        </div>
      </div>
    </div>
    <div class="col-lg-2 col-xs-6">
      <div class="small-box bg-red">
        <div class="inner">
          <h3>02</h3>
          <p>Rejected</p>
        </div>
        <div class="icon">
          <i class="fa fa-times-circle"></i>
        </div>
      </div>
    </div>
    <div class="col-lg-2 col-xs-6">
      <div class="small-box bg-purple">
        <div class="inner">
          <h3>01</h3>
          <p>Cancelled</p>
        </div>
        <div class="icon">
          <i class="fa fa-ban"></i>
        </div>
      </div>
    </div>
  </div>
</div> -->
