<div class="clearfix">
</div>
<section>
  <div class="container" style="padding-bottom: 50px;">
    <div class="row">


      <!--end left col-->


      <div class="col-md-11 nopadding">


        <form role="form" method="post" class="f1">

          <h3 style="text-align: center">secretary registration form (corporate body)</h3>
          <p style="text-align: center">Fill in all steps for completing registration process.</p>
          <div class="f1-steps">
            <div class="f1-progress">
              <div class="f1-progress-line" data-now-value="10" data-number-of-steps="5" [ngStyle]="{'width': progress.progressPercentage}"></div>
            </div>

            <div *ngFor="let item of progress['stepArr']; let i = index" class="f1-step {{item.status}}">
              <div class="f1-step-icon">
                <i class="{{item.icon}}"></i>
              </div>
              <p>{{item.label}}</p>
            </div>

          </div>



          <fieldset [hidden]="stepOn != 0">

            <div class="secretary personal details section">

              <div class="form-group row">



                <div class="form-group col-md-6"><label class="col-form-label col-form-label-sm">Name of Coporation
                    <span class="req">*</span></label>
                  <input (input)="secretaryPvtValidationStep1()" pattern="[a-zA-Z ]*" class="form-control form-control-sm"
                    required minlength="4" name="name" [(ngModel)]="secretaryFirmDetails.name" placeholder="Name of Coporation">
                  <span class="req-message">Valid name required</span>


                </div>

                <div class="form-group col-md-6"><label class="col-form-label col-form-label-sm">Registration Number of
                    Coporation
                    <span class="req">*</span></label>
                  <input (input)="secretaryPvtValidationStep1()" pattern="[a-zA-Z1-9]*" class="form-control form-control-sm"
                    required minlength="4" name="reg_num" [(ngModel)]="secretaryFirmDetails.registrationNumber"
                    placeholder="Registration Number of Coporation">
                  <span class="req-message">Valid registration number required</span>
                </div>

              </div>

              <hr width="100%" colour="#000000">



              <div class="form-group row">
                <label class="col-sm-12 col-form-label col-form-label-sm">Address of Coporation
                  <span class="req">*</span>
                </label>
                <div class="col-sm-6">
                  <input (input)="secretaryPvtValidationStep1()" class="form-control form-control-sm" required name="address1"
                    [(ngModel)]="secretaryFirmDetails.businessLocalAddress1" placeholder="No 400,">
                  <span class="req-message">Valid address required</span>

                </div>
                <div class="col-sm-6">
                  <input (input)="secretaryPvtValidationStep1()" class="form-control form-control-sm" required name="address2"
                    [(ngModel)]="secretaryFirmDetails.businessLocalAddress2" placeholder="McCallum Rd,">
                  <span class="req-message">Valid address required</span>

                </div>

              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label col-form-label-sm"> Province
                  <span class="req">*</span>
                </label>
                <div class="col-sm-9">
                  <select (change)="secretaryPvtValidationStep1()" class="form-control form-control-sm" [(ngModel)]="secretaryFirmDetails.businessProvince"
                    name="province">
                    <option value="">Choose...</option>
                    <option *ngFor="let p of provinces" value="{{p.name}}">{{p.name}}</option>

                  </select>
                </div>
              </div>

              <div class="form-group row">
                <label class="col-sm-3 col-form-label col-form-label-sm"> District
                  <span class="req">*</span>
                </label>
                <div class="col-sm-9">
                  <select (change)="secretaryPvtValidationStep1()" class="form-control form-control-sm" [(ngModel)]="secretaryFirmDetails.businessDistrict"
                    name="district">
                    <option value="">Choose...</option>
                    <option *ngFor="let d of districts" value="{{d.name}}">{{d.name}}</option>
                  </select>
                </div>
              </div>

              <div class="form-group row">
                <label class="col-sm-3 col-form-label col-form-label-sm"> City
                  <span class="req">*</span>
                </label>
                <div class="col-sm-9">
                  <select (change)="secretaryPvtValidationStep1()" class="form-control form-control-sm" [(ngModel)]="secretaryFirmDetails.businessCity"
                    name="city">
                    <option value="">Choose...</option>
                    <option *ngFor="let c of cities" value="{{c.name}}">{{c.name}}</option>
                  </select>

                </div>
              </div>

              <br>


              <div class="form-group row">
                <label class="col-sm-8 col-form-label col-form-label-sm">Does the nature of business of
                  memorandom of assosiation of
                  corporation provide for the corporation to undertake secretarial work?
                  <span class="req">*</span>
                </label>
                <label class="col-sm-1 col-form-label col-form-label-sm">
                  <input (change)="secretaryPvtValidationStep1()" name="undertake" [(ngModel)]="secretaryFirmDetails.isUndertakeSecWork"
                    type="radio" value="yes" />
                  <span> Yes</span>
                </label>

                <label class="col-sm-1 col-form-label col-form-label-sm">
                  <input (change)="secretaryPvtValidationStep1()" name="undertake" [(ngModel)]="secretaryFirmDetails.isUndertakeSecWork"
                    type="radio" value="no" />
                  <span> No</span>
                </label>



              </div>




            </div>



            <div class="f1-buttons">

              <button [disabled]="!enableStep1Submission" type="button" class="btn btn-next" id="btn1-next" (click)="changeProgressStatuses(1)">Next
                <i class="fas fa-forward"></i></button>
            </div>
          </fieldset>
          <!-- end of fist step -->




          <fieldset [hidden]="stepOn != 1">


            <div class="secretary other details section">



              <div class="form-group row">
                <label f class="col-sm-3 col-form-label col-form-label-sm">Add Partners
                  <span class="req">*</span>
                </label>

                <div class="col-sm-12">

                  <div class="director-secton stakeholder-section">

                    <div class="add-new-wrapper director-add-new-wrapper">

                      <h2>
                        <span class="add-new-wrapper-label">Add Partners</span>
                        <div class="line"></div>

                        <button type="button" mdbBtn class="relative waves-light add-new-stakholder" (click)="frame.show()"
                          mdbWavesEffect>
                          <i class="fa fa-plus"></i> Add New</button>

                      </h2>
                    </div>
                  </div>
                </div>

              </div>

              <div class="form-group row">

                <div class="col-sm-12">


                  <table class="table table-hover">
                    <tr *ngFor="let item of secretaryFirmPartnerDetails">
                      <td>{{item.name}}</td>
                      <td> {{item.residentialAddress}}</td>
                      <td> {{item.citizenship}}</td>
                      <td> {{item.whichQualified}}</td>
                      <td>{{item.pQualification}}</td>

                    </tr>
                  </table>
                </div>

              </div>








              <div class="form-group row">
                <label f class="col-sm-5 col-form-label col-form-label-sm">Has any partner in the corporation been
                  adjudged by
                  a competent court
                  to be of unsound mind
                  <span class="req">*</span>

                </label>
                <label class="col-sm-1 col-form-label col-form-label-sm">
                  <input (change)="secretaryPvtValidationStep2()" type="radio" name="unsound" [(ngModel)]="secretaryFirmDetails.isUnsoundMind"
                    value="no" />
                  <span> No</span>
                </label>
                <label class="col-sm-1 col-form-label col-form-label-sm">
                  <input (change)="secretaryPvtValidationStep2()" type="radio" name="unsound" [(ngModel)]="secretaryFirmDetails.isUnsoundMind"
                    value="yes" />
                  <span> Yes</span>
                </label>

              </div>


              <div class="form-group row">
                <label f class="col-sm-5 col-form-label col-form-label-sm">Has any partner in the corporation been
                  adjudged an
                  insolvent or
                  bankrupt
                  <span class="req">*</span>

                </label>
                <label class="col-sm-1 col-form-label col-form-label-sm">
                  <input (change)="secretaryPvtValidationStep2()" name="bankrupt" [(ngModel)]="secretaryFirmDetails.isInsolventOrBankrupt"
                    type="radio" value="no" (click)="show1()" />
                  <span> No</span>
                </label>
                <label class="col-sm-1 col-form-label col-form-label-sm">
                  <input (change)="secretaryPvtValidationStep2()" name="bankrupt" [(ngModel)]="secretaryFirmDetails.isInsolventOrBankrupt"
                    type="radio" value="yes" (click)="show2()" />
                  <span> Yes</span>
                </label>

              </div>

              <div id="div1" class="form-group row">

                <label class="col-sm-3 col-form-label col-form-label-sm">Mention the reason
                  <span class="req">*</span>
                </label>

                <div class="col-sm-12">
                  <input (input)="secretaryPvtValidationStep2()" class="form-control form-control-sm" name="reason1"
                    [(ngModel)]="secretaryFirmDetails.reason1" placeholder="Reason">
                </div>

              </div>



              <div class="form-group row">
                <label f class="col-sm-5 col-form-label col-form-label-sm">Has any partner in the corporation been
                  convicted
                  by any competent
                  court in Sri Lanka / Overseas
                  <span class="req">*</span>

                </label>
                <label class="col-sm-1 col-form-label col-form-label-sm">
                  <input (change)="secretaryPvtValidationStep2()" name="competent" [(ngModel)]="secretaryFirmDetails.isCompetentCourt"
                    type="radio" value="no" (click)="show3()" />
                  <span> No</span>
                </label>
                <label class="col-sm-1 col-form-label col-form-label-sm">
                  <input (change)="secretaryPvtValidationStep2()" name="competent" [(ngModel)]="secretaryFirmDetails.isCompetentCourt"
                    type="radio" value="yes" (click)="show4()" />
                  <span> Yes</span>
                </label>

              </div>

              <div class="form-group" id="div2">

                <div class="form-group row">

                  <label class="col-sm-2 col-form-label col-form-label-sm">Mention the reason
                    <span class="req">*</span>
                  </label>

                  <label class="col-sm-2 col-form-label col-form-label-sm">
                    <input (change)="secretaryPvtValidationStep2()" name="reason" [(ngModel)]="secretaryFirmDetails.reason2"
                      type="radio" value="pardoned" />
                    <span> Pardoned</span>
                  </label>
                  <label class="col-sm-2 col-form-label col-form-label-sm">
                    <input (change)="secretaryPvtValidationStep2()" name="reason" [(ngModel)]="secretaryFirmDetails.reason2"
                      type="radio" value="appeal" />
                    <span> Appeal</span>
                  </label>
                </div>

              </div>


            </div>



            <div class="f1-buttons">
              <button (click)="changeProgressStatuses(0)" type="button" class="btn btn-previous"><i class="fas fa-backward"></i>
                Previous</button>
              <button [disabled]="!enableStep2Submission" (click)="secretaryFirmDataSubmit()" type="button" class="btn btn-next">Next
                <i class="fas fa-forward"></i></button>
            </div>
          </fieldset>
          <!--end of second step secretaryDataSubmit()  changeProgressStatuses(2)-->



          <fieldset [hidden]="stepOn != 2">





            <div class="f1-buttons">
              <button (click)="changeProgressStatuses(1)" type="button" class="btn btn-previous"><i class="fas fa-backward"></i>
                Previous</button>
              <button (click)="changeProgressStatuses(3)" type="button" class="btn btn-next">Next <i class="fas fa-forward"></i></button>
            </div>


          </fieldset>
          <!--end of third step-->



          <fieldset [hidden]="stepOn != 3">





            <div class="f1-buttons">
              <button (click)="changeProgressStatuses(2)" type="button" class="btn btn-previous"><i class="fas fa-backward"></i>
                Previous</button>
              <button (click)="changeProgressStatuses(4)" type="button" class="btn btn-next">Next
                <i class="fas fa-forward"></i></button>
            </div>


          </fieldset>
          <!--end of fourth step-->



          <fieldset class="{{stepOn}}" [hidden]="stepOn != 4">






            <div class="f1-buttons">
              <button (click)="changeProgressStatuses(3)" type="button" class="btn btn-previous"><i class="fas fa-backward"></i>
                Previous</button>
              <button (click)="changeProgressStatuses(5)" type="button" class="btn btn-submit">PAY</button>
            </div>
          </fieldset>
          <!--end of fifth step-->



        </form>

      </div>
      <div style="clear:both"></div>
      <br />
      <br />
      <!--end right col main-->
    </div>
  </div>
</section>






<!--addd partners modal-->

<div class="float-center">
  <div mdbModal #frame="mdbModal" class="modal fade left" id="frameModalTop" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="true" [config]="{ backdrop: true, ignoreBackdropClick: true }">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title w-100 font-weight-bold">Add Partners</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">


          <div class="form-group col-md-6 nic-field-wrapper">

            <label class="col-form-label col-form-label-sm">NIC No
              <span class="req">*</span>
            </label>
            <input pattern="[0-9]{9}[x|X|v|V]" required maxlength="10" name="nic" [(ngModel)]="nic" class="form-control form-control-sm modal-input-director-nic"
              placeholder="NIC">
            <span class="req-message">Valid NIC required</span>
            <br>

            <span class="req-message">Valid NIC required</span>
            <!-- <span *ngIf="directorAlreadyExistMessage" class="already-exist-message">{{directorAlreadyExistMessage}}</span> -->
            <button (click)="clickNic()" class="btn btn-success nic-continue-button">continue</button>
          </div>

          <div [hidden]="!visiblePartnerDetailBlock" class="nic-check-block">

            <div class="form-group row">
              <label f class="col col-form-label col-form-label-sm">Full name of partner or director
                <span class="req">*</span></label>
              <div class="col-sm-12">
                <input pattern="[a-zA-Z ]*" class="form-control form-control-sm" required minlength="4" name="company_name"
                  [(ngModel)]="secretaryFirmPartners.name" placeholder="Full Name">
                <span class="req-message">Valid name required</span>
              </div>
            </div>
            <div class="form-group row">
              <label f class="col-sm-3 col-form-label col-form-label-sm">Residential Address
                <span class="req">*</span></label>
              <div class="col-sm-12">
                <input class="form-control form-control-sm" required minlength="4" name="position" [(ngModel)]="secretaryFirmPartners.residentialAddress"
                  placeholder="Residential Address">
                <span class="req-message">Valid address required</span>
              </div>
            </div>

            <div class="form-group row">


              <div class="form-group col-md-3"><label class="col-form-label col-form-label-sm">Citizenship
                  <span class="req">*</span></label>
                <input pattern="[a-zA-Z ]*" (input)="secretaryValidationStep1()" class="form-control form-control-sm"
                  required name="from" [(ngModel)]="secretaryFirmPartners.citizenship" placeholder="Citizenship">
                <span class="req-message">Valid input required</span>
              </div>


            </div>

            <div class="form-group row">
              <label f class="col-sm-12 col-form-label col-form-label-sm">Sub-clause of regulation 2(1)(b) under
                which
                applicant is qualified?
              </label>
              <div class="col-sm-12">
                <input pattern="[a-zA-Z ]*" class="form-control form-control-sm" required name="qualified" [(ngModel)]="secretaryFirmPartners.whichQualified">
                <span class="req-message">Valid reason required</span>
              </div>
            </div>

            <div class="form-group row">
              <label f class="col-sm-3 col-form-label col-form-label-sm">Proffessional Qualifications
                <span class="req">*</span>
              </label>
              <div class="col-sm-12">

                <textarea (input)="secretaryValidationStep2()" class="form-control form-control-sm" name="proffessional_qualifications"
                  [(ngModel)]="secretaryFirmPartners.pQualification" placeholder="Proffessional Qualifications"></textarea>

              </div>
            </div>

          </div>

        </div>

        <div class="modal-footer">

          <button style="background-color: #bbb!important;" type="button" mdbBtn color="secondary" class="btn btn-previous"
            mdbWavesEffect>RESET</button>&nbsp;

          <button type="button" mdbBtn color="secondary" (click)="addSecretaryFirmPartnerDetailsToArray(); frame.hide();"
            class="btn btn-sm relative waves-light add-new-stakeholder add-director" mdbWavesEffect>ADD</button>
        </div>
      </div>
    </div>
  </div>
</div>