<div class="row">
    <div class="col-md-5 ">
      <div class="payment-method mt-3">
        <label for="card" class="method">
          <div class="card-logos">
            <img src="assets/images/header/visa_logo.png" />
            <img src="assets/images/header/mastercard_logo.png" />
          </div>
        </label>
      </div>
    </div>
    <div class="col-md-7">
      <div class="my-order-details mt-3">
        <div class="my-orders-sec">
          <h5>Payment Description : For approval of a name of a company (Name Request)</h5>
          <hr>
          <div class="product-totals">
            <span>TITLE</span>
            <strong>TOTAL</strong>
            <ul>
              <li>Amount
                <span>(LKR)</span>
                <strong>2,000.00</strong>
              </li>
              <li>VAT Amount
                <span>(LKR)</span>
                <strong>300.00</strong>
              </li>
            </ul>
          </div>
          <ul>
            <li>
              <span>Total Amount</span>
              <span>(LKR)</span>
              <strong>2,300.00</strong>
            </li>
          </ul>
        </div>
        <div class="payment-methods">
  
        </div>
        <div class="float-right">
          <button class="btn btn-blur btn-mr0 nav-link light-orenge-text" type="button" (click)="onPay()" mdbWavesEffect>
            <i class="far fa-credit-card"></i> Payment</button>
        </div>
      </div>
    </div>
  </div>
  