<div class="nav-side-menu">
  <div class="menu-list">
    <ul id="menu-content" class="menu-content collapse out">
      <li class="active">
        <a>
          <i class="fas fa-search"></i>
          <span class="ml-3">Name Search</span>
        </a>
      </li>
      <li>
        <a>
          <i class="far fa-check-square"></i>
          <span class="ml-3">Register for Tenders</span>
        </a>
      </li>

      <li>
        <a>
          <i class="far fa-calendar-check"></i>
          <span class="ml-3">How to Reserve a Company Name</span></a>
        <em class="fa fa-info-circle pull-right-info"></em>
      </li>
      <li>
        <a>
          <i class="far fa-file-alt"></i> <span class="ml-3">How to Register a Company</span></a>
        <em class="fa fa-info-circle pull-right-info"></em>
      </li>
      <li>
        <a>
          <i class="fa fa-edit"></i>
          <span class="ml-3">How to Change a Company Name</span></a>
        <em class="fa fa-info-circle pull-right-info"></em>
      </li>
      <li>
        <a>
          <i class="fa fa-minus-circle"></i>
          <span class="ml-3">Deregistered Companies</span></a>
        <em class="fa fa-info-circle pull-right-info"></em>
      </li>
      <li>
        <a>
          <i class="fas fa-balance-scale"></i>
          <span class="ml-3">Companies act of 2007</span></a>
        <em class="fa fa-info-circle pull-right-info"></em>
      </li>
    </ul>
  </div>
</div>