<div class="container mb-5">
  <div class="col-md-12">
    <form class="mt-2">
      <div class="container">
        <div class="row justify-content-md-center mt-3">
          <div class="col-md-8">
            <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
              <div class="form-group">
                <small for="email">Email address <sup class="text text-danger">*</sup></small>
                <input type="email" uniqueEmail id="orangeForm-email" formControlName="email" placeholder="E-mail" class="form-control">
                <div *ngIf="email.invalid && email.touched">
                  <small *ngIf="email.errors['email']" class="red-text">Please enter a valid email.</small>
                  <small *ngIf="email.errors['required']" class="red-text">Email is required.</small>
                  <small *ngIf="email.errors['uniqueEmail']" class="red-text">Email already exists.</small>
                </div>
              </div>

              <div class="form-group">
                <small for="password">Password <sup class="text text-danger">*</sup></small>
                <input type="password" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[$@$#!%*?&])[A-Za-z\d$@$#!%*?&]{8,}" formControlName="password"
                  id="password" placeholder="Password" class="form-control">
                <div *ngIf="password.invalid && (password.dirty || password.touched)">
                  <small class="red-text">Your password must be over 8 characters and include an uppercase letter, a number and a special character</small>
                </div>
              </div>

              <div class="form-group">
                <small for="confirmpassword">Confirm Password <sup class="text text-danger">*</sup></small>
                <input type="password" formControlName="confirmpassword" name="confirmpassword" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&]{8,}"
                  id="confirmpassword" placeholder="Confirm Password" class="form-control">
                <div *ngIf="confirmpassword.invalid && (confirmpassword.dirty || confirmpassword.touched)">
                  <small *ngIf="confirmpassword.errors['required']" class="red-text">Confirm Password is required.</small>
                  <small *ngIf="confirmpassword.errors['compare']" class="red-text">Confirm Password does not match</small>
                </div>
              </div>

              <hr>

              <div class="float-right">
                <button class="btn btn-blur btn-mr0 nav-link light-orenge-text" type="submit" mdbWavesEffect>Register</button>
              </div>
            </form>
          </div>
        </div>
      </div>

    </form>
  </div>
</div>
