<div class="container bottom-br">
  <div class="row">


    <div class="col-md-6">
      <div>
        <ul>
          <li>
            <small class="mr-3">Status :</small>
            <small class="">All</small>
          </li>
          <!-- <li class="last-li">
            <a class="primary" routerLink="/home">
              <i class="icon-material-outline-add-circle-outline"></i>
            </a>
          </li> -->
        </ul>
      </div>
    </div>
    <div class="col-md-6">
      <div class="input-with-icon float-right">
        <input id="autocomplete-input" type="text" (keyup)="onSearch($event)" placeholder="Search">
        <i class="icon-material-outline-search"></i>
      </div>
    </div>
  </div>
</div>
