<form (ngSubmit)="onSubmit()" [formGroup]="nameResForm" >
  <div class="form-group row">
    <small for="staticEmail" class="col-sm-4">Sinhala Name</small>
    <div class="col-sm-8">
      <input type="text" formControlName="sinhalaName" placeholder="Sinhala Name" class="form-control form-control-sm" >
    </div>
  </div>

  <div class="form-group row">
    <small for="staticEmail" class="col-sm-4">Tamil Name</small>
    <div class="col-sm-8">
      <input type="text" formControlName="tamilname" placeholder="Tamil Name" class="form-control form-control-sm" >
    </div>
  </div>

  <div class="form-group row">
    <small for="staticEmail" class="col-sm-4">Abbreviations</small>
    <div class="col-sm-8">
      <textarea name="abbreviations" formControlName="abreviations" placeholder="Abbreviations" class="form-control form-control-sm"
        cols="30" rows="4"></textarea>
    </div>
  </div>

  <div class="form-group row">
    <small class="col-sm-1 mt-4">
      <mat-checkbox class="ck-sm"  formControlName="agreeCheck"></mat-checkbox>
    </small>
    <div class="col-sm-11" style="text-align: justify;">
      <small> I authorize an officer from the office of the Registrar of Companies to make the said search on my behalf and I do
        hear by expressly declare that I absolve the Registrar General of Companies and every officer of his Department from
        responsibility for any act or omission of the said officer in regard to such search or any information that may be
        given or omitted to be given by him to me. </small>
    </div>
  </div>
  <hr>
  <div class="float-right">
    <button class="btn btn-blur btn-mr0 nav-link light-orenge-text" type="submit" [disabled]="nameResForm.invalid || nameResForm.get('agreeCheck').value != true" mdbWavesEffect>Next</button>
  </div>
</form>
