<div class="clearfix">
</div>

<section>
  <div class="container" style="padding-bottom: 50px;">
    <div class="row">


      <!--end left col-->


      <div class="col-md-11 nopadding">


        <form role="form" method="post" class="f1">

          <h3 style="text-align: center">secretary registration form (individual)</h3>
          <p style="text-align: center">Fill in all steps for completing registration process.</p>
          <div class="f1-steps">
            <div class="f1-progress">
              <div class="f1-progress-line" data-now-value="10" data-number-of-steps="5" [ngStyle]="{'width': progress.progressPercentage}"></div>
            </div>

            <div *ngFor="let item of progress['stepArr']; let i = index" class="f1-step {{item.status}}">
              <div class="f1-step-icon">
                <i class="{{item.icon}}"></i>
              </div>
              <p>{{item.label}}</p>
            </div>

          </div>



          <fieldset [hidden]="stepOn != 0">

            <div class="secretary personal details section">

              <div class="form-group row">

                <!-- <div class="form-group col-md-2"><label class="col-form-label col-form-label-sm">Title
                    <span class="req">*</span></label><select class="form-control form-control-sm modal-input-director-title ng-pristine ng-valid ng-touched"
                    name="title" [(ngModel)]="secretaryDetails.title">
                    <option value="">Choose...</option>
                    <option *ngFor="let t of title" value="{{t.name}}">{{t.name}}</option>
                  </select></div> -->
                <div class="form-group col-md-2"><label class="col-form-label col-form-label-sm">Title
                    <span class="req">*</span></label><select (change)="secretaryValidationStep1()" class="form-control form-control-sm modal-input-director-title ng-pristine ng-valid ng-touched"
                    name="title" [(ngModel)]="secretaryDetails.title">
                    <option value="">Choose...</option>
                    <option *ngFor="let t of title" value="{{ t.name }}" id="{{ t.id }}">{{ t.name }}</option>
                  </select></div>

                <div class="form-group col-md-5"><label class="col-form-label col-form-label-sm">First Name(s)
                    <span class="req">*</span></label>
                  <input (input)="secretaryValidationStep1()" pattern="[a-zA-Z ]*" class="form-control form-control-sm"
                    required minlength="4" name="first_name" [(ngModel)]="secretaryDetails.firstname" placeholder="First Name">
                  <span class="req-message">Valid name required</span>


                </div>

                <div class="form-group col-md-5"><label class="col-form-label col-form-label-sm">Sir Name
                    <span class="req">*</span></label>
                  <input (input)="secretaryValidationStep1()" pattern="[a-zA-Z ]*" class="form-control form-control-sm"
                    required minlength="4" name="last_name" [(ngModel)]="secretaryDetails.lastname" placeholder="Sir Name">
                  <span class="req-message">Valid name required</span>


                </div>

              </div>

              <div class="form-group row">
                <label f class="col-sm-3 col-form-label col-form-label-sm">Other Names
                </label>
                <div class="col-sm-12">
                  <input (input)="secretaryValidationStep1()" pattern="[a-zA-Z ]*" class="form-control form-control-sm"
                    required minlength="4" name="other_name" [(ngModel)]="secretaryDetails.othername" placeholder="Other Names">
                  <span class="req-message">Valid name required</span>
                </div>
              </div>

              <br>
              <hr width="100%" colour="#000000">



              <div class="form-group row">
                <label class="col-sm-12 col-form-label col-form-label-sm">Residential Address
                  <span class="req">*</span>
                </label>
                <div class="col-sm-6">
                  <input (input)="secretaryValidationStep1()" class="form-control form-control-sm" required name="residential_address1"
                    [(ngModel)]="secretaryDetails.residentialLocalAddress1" placeholder="No 400,">
                  <span class="req-message">Valid address required</span>

                </div>
                <div class="col-sm-6">
                  <input (input)="secretaryValidationStep1()" class="form-control form-control-sm" required name="residential_address2"
                    [(ngModel)]="secretaryDetails.residentialLocalAddress2" placeholder="McCallum Rd,">
                  <span class="req-message">Valid address required</span>

                </div>

              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label col-form-label-sm"> Province
                  <span class="req">*</span>
                </label>
                <div class="col-sm-9">
                  <select (change)="secretaryValidationStep1()" class="form-control form-control-sm" [(ngModel)]="secretaryDetails.residentialProvince"
                    name="residential_province">
                    <option value="">Choose...</option>
                    <option *ngFor="let p of provinces" value="{{p.name}}">{{p.name}}</option>

                  </select>
                </div>
              </div>

              <div class="form-group row">
                <label class="col-sm-3 col-form-label col-form-label-sm"> District
                  <span class="req">*</span>
                </label>
                <div class="col-sm-9">
                  <select (change)="secretaryValidationStep1()" class="form-control form-control-sm" [(ngModel)]="secretaryDetails.residentialDistrict"
                    name="residential_district">
                    <option value="">Choose...</option>
                    <option *ngFor="let d of districts" value="{{d.name}}">{{d.name}}</option>
                  </select>
                </div>
              </div>

              <div class="form-group row">
                <label class="col-sm-3 col-form-label col-form-label-sm"> City
                  <span class="req">*</span>
                </label>
                <div class="col-sm-9">
                  <select (change)="secretaryValidationStep1()" class="form-control form-control-sm" [(ngModel)]="secretaryDetails.residentialCity"
                    name="residential_city">
                    <option value="">Choose...</option>
                    <option *ngFor="let c of cities" value="{{c.name}}">{{c.name}}</option>
                  </select>

                </div>
              </div>

              <br>
              <hr width="100%" colour="#000000">

              <div class="form-group row">
                <label f class="col-sm-3 col-form-label col-form-label-sm">Business Name, (if any)
                </label>
                <div class="col-sm-12">
                  <input (input)="secretaryValidationStep1()" pattern="[a-zA-Z ]*" class="form-control form-control-sm"
                    name="business_name" [(ngModel)]="secretaryDetails.businessName" placeholder="Business Name">
                  <!-- <span class="req-message">Valid name required</span> -->
                </div>
              </div>

              <div class="form-group row">
                <label class="col-sm-12 col-form-label col-form-label-sm">Business Address

                </label>
                <div class="col-sm-6">
                  <input (input)="secretaryValidationStep1()" class="form-control form-control-sm" name="business_address1"
                    [(ngModel)]="secretaryDetails.businessLocalAddress1" placeholder="No 400,">
                </div>
                <div class="col-sm-6">
                  <input (input)="secretaryValidationStep1()" class="form-control form-control-sm" name="business_address2"
                    [(ngModel)]="secretaryDetails.businessLocalAddress2" placeholder="McCallum Rd,">

                </div>

              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label col-form-label-sm"> Province

                </label>
                <div class="col-sm-9">
                  <select (change)="secretaryValidationStep1()" class="form-control form-control-sm" [(ngModel)]="secretaryDetails.businessProvince"
                    name="business_province">
                    <option value="">Choose...</option>
                    <option *ngFor="let p of provinces" value="{{p.name}}">{{p.name}}</option>

                  </select>
                </div>
              </div>

              <div class="form-group row">
                <label class="col-sm-3 col-form-label col-form-label-sm"> District

                </label>
                <div class="col-sm-9">
                  <select (change)="secretaryValidationStep1()" class="form-control form-control-sm" [(ngModel)]="secretaryDetails.businessDistrict"
                    name="business_district">
                    <option value="">Choose...</option>
                    <option *ngFor="let d of districts" value="{{d.name}}">{{d.name}}</option>
                  </select>
                </div>
              </div>

              <div class="form-group row">
                <label class="col-sm-3 col-form-label col-form-label-sm"> City

                </label>
                <div class="col-sm-9">
                  <select (change)="secretaryValidationStep1()" class="form-control form-control-sm" [(ngModel)]="secretaryDetails.businessCity"
                    name="business_city">
                    <option value="">Choose...</option>
                    <option *ngFor="let c of cities" value="{{c.name}}">{{c.name}}</option>
                  </select>

                </div>
              </div>

              <br>

              <div class="form-group row">
                <label f class="col-sm-12 col-form-label col-form-label-sm">Sub-clause of regulation 2(1)(b) under
                  which
                  applicant is qualified?
                </label>
                <div class="col-sm-12">
                  <input (input)="secretaryValidationStep1()" pattern="[a-zA-Z ]*" class="form-control form-control-sm"
                    required name="qualified" [(ngModel)]="secretaryDetails.subClauseQualified">
                  <span class="req-message">Valid reason required</span>
                </div>
              </div>


            </div>



            <div class="f1-buttons">

              <button [disabled]="!enableStep1Submission" type="button" class="btn btn-next" id="btn1-next" (click)="changeProgressStatuses(1)">Next
                <i class="fas fa-forward"></i></button>
              <!-- [disabled]="!enableStep1Submission" -->
            </div>
          </fieldset>
          <!-- end of fist step -->




          <fieldset [hidden]="stepOn != 1">


            <div class="secretary other details section">

              <div class="form-group row">
                <label f class="col-sm-3 col-form-label col-form-label-sm">Add Applicant Work History
                  <span class="req">*</span>
                </label>

                <div class="col-sm-12">

                  <div class="director-secton stakeholder-section">

                    <div class="add-new-wrapper director-add-new-wrapper">

                      <h2>
                        <span class="add-new-wrapper-label">Work History</span>
                        <div class="line"></div>

                        <button type="button" mdbBtn class="relative waves-light add-new-stakholder" (click)="frame.show()"
                          mdbWavesEffect>
                          <i class="fa fa-plus"></i> Add New</button>

                      </h2>

                      <div class="director-list stakeholder-list-wrapper">
                        <div *ngFor="let item of workHistory; let i = index" class="director-record stakeholder-record"
                          style=" margin: 30px 0;border-radius: 20px;background: #fff;border: 1px solid rgb(243, 91, 63);">

                          <div (click)="showToggle('director', director.id)" class="stakeholder-record-summeru" style="background-color: #f35b3f;
                          color: #fff;
                          padding: 5px 10px;
                          font-weight: lighter;
                          font-size: 14px;
                          border-top-left-radius: 18px;
                          box-shadow: 1px 1px 2px #b3aea9;
                          border-top-right-radius: 18px;
                          cursor: pointer;
                          width: 100%;
                          border-radius: 20px;">

                            Worked in - {{item.companyName}} , {{item.position}} , From {{item.from}} , To
                            {{item.to}}

                            <span (click)="removeWorkHistoryFromArray(i); secretaryValidationStep2();" title="remove record"
                              style="float:right;" class="record-handler record-handler-remove">
                              <i class="fa fa-trash"></i>
                            </span>
                            <!-- <span title="show details" style="float:right; margin:0 15px" class="record-handler">
                              <i class="fa fa-pencil-alt"></i>
                            </span>
                            <span title="show details" style="float:right; margin:0 15px" class="record-handler">
                              <i class="fa fa-eye"></i>
                            </span> -->

                          </div>
                        </div>
                      </div>



                    </div>
                  </div>
                </div>
              </div>



              <div class="form-group row">
                <label f class="col-sm-3 col-form-label col-form-label-sm">Proffessional Qualifications
                  <span class="req">*</span>
                </label>
                <div class="col-sm-12">

                  <input (input)="secretaryValidationStep2()" class="form-control form-control-sm" name="proffessional_qualifications"
                    [(ngModel)]="secretaryDetails.pQualification" placeholder="Proffessional Qualifications">

                </div>
              </div>

              <div class="form-group row">
                <label f class="col-sm-3 col-form-label col-form-label-sm">Higher Educational Qualifications
                  <span class="req">*</span>
                </label>
                <div class="col-sm-12">
                  <input (input)="secretaryValidationStep2()" class="form-control form-control-sm" name="educational_qualifications"
                    [(ngModel)]="secretaryDetails.eQualification" placeholder="Higher Educational Qualifications">
                </div>
              </div>

              <div class="form-group row">
                <label f class="col-sm-3 col-form-label col-form-label-sm">Prior Work Experience
                  <span class="req">*</span>
                </label>
                <div class="col-sm-12">
                  <input (input)="secretaryValidationStep2()" class="form-control form-control-sm" name="prior_work_experience"
                    [(ngModel)]="secretaryDetails.wExperience" placeholder="Prior Work Experience">
                </div>
              </div>



              <div class="form-group row">
                <label f class="col-sm-5 col-form-label col-form-label-sm">Have you been adjudged by a competent court
                  to be of unsound mind
                  <span class="req">*</span>

                </label>
                <label class="col-sm-1 col-form-label col-form-label-sm">
                  <input (change)="secretaryValidationStep2()" type="radio" name="unsound" [(ngModel)]="secretaryDetails.isUnsoundMind"
                    value="no" />
                  <span> No</span>
                </label>
                <label class="col-sm-1 col-form-label col-form-label-sm">
                  <input (change)="secretaryValidationStep2()" type="radio" name="unsound" [(ngModel)]="secretaryDetails.isUnsoundMind"
                    value="yes" />
                  <span> Yes</span>
                </label>

              </div>


              <div class="form-group row">
                <label f class="col-sm-5 col-form-label col-form-label-sm">Have you been adjudged an insolvent or
                  bankrupt
                  <span class="req">*</span>

                </label>
                <label class="col-sm-1 col-form-label col-form-label-sm">
                  <input (change)="secretaryValidationStep2()" name="bankrupt" [(ngModel)]="secretaryDetails.isInsolventOrBankrupt"
                    type="radio" value="no" (click)="show1()" />
                  <span> No</span>
                </label>
                <label class="col-sm-1 col-form-label col-form-label-sm">
                  <input (change)="secretaryValidationStep2()" name="bankrupt" [(ngModel)]="secretaryDetails.isInsolventOrBankrupt"
                    type="radio" value="yes" (click)="show2()" />
                  <span> Yes</span>
                </label>

              </div>

              <div id="div1" class="form-group row">

                <label class="col-sm-3 col-form-label col-form-label-sm">Mention the reason
                  <span class="req">*</span>
                </label>

                <div class="col-sm-12">
                  <input (input)="secretaryValidationStep2()" class="form-control form-control-sm" name="reason1"
                    [(ngModel)]="secretaryDetails.reason1" placeholder="Reason">
                </div>

              </div>



              <div class="form-group row">
                <label f class="col-sm-5 col-form-label col-form-label-sm">Have you been convicted by any competent
                  court in Sri Lanka / Overseas
                  <span class="req">*</span>

                </label>
                <label class="col-sm-1 col-form-label col-form-label-sm">
                  <input (change)="secretaryValidationStep2()" name="competent" [(ngModel)]="secretaryDetails.isCompetentCourt"
                    type="radio" value="no" (click)="show3()" />
                  <span> No</span>
                </label>
                <label class="col-sm-1 col-form-label col-form-label-sm">
                  <input (change)="secretaryValidationStep2()" name="competent" [(ngModel)]="secretaryDetails.isCompetentCourt"
                    type="radio" value="yes" (click)="show4()" />
                  <span> Yes</span>
                </label>

              </div>

              <div class="form-group" id="div2">

                <div class="form-group row">

                  <label class="col-sm-2 col-form-label col-form-label-sm">Mention the reason
                    <span class="req">*</span>
                  </label>

                  <label class="col-sm-2 col-form-label col-form-label-sm">
                    <input (change)="secretaryValidationStep2()" name="reason" [(ngModel)]="secretaryDetails.reason2"
                      type="radio" value="pardoned" />
                    <span> Pardoned</span>
                  </label>
                  <label class="col-sm-2 col-form-label col-form-label-sm">
                    <input (change)="secretaryValidationStep2()" name="reason" [(ngModel)]="secretaryDetails.reason2"
                      type="radio" value="appeal" />
                    <span> Appeal</span>
                  </label>
                </div>

              </div>










            </div>



            <div class="f1-buttons">
              <button (click)="changeProgressStatuses(0)" type="button" class="btn btn-previous"><i class="fas fa-backward"></i>
                Previous</button>
              <button [disabled]="!enableStep2Submission" (click)="secretaryDataSubmit()" type="button" class="btn btn-next">Next
                <i class="fas fa-forward"></i></button>
              <!-- secretaryDataSubmit() [disabled]="!enableStep2Submission"  changeProgressStatuses(2) -->
            </div>
          </fieldset>
          <!--end of second step -->



          <fieldset [hidden]="stepOn != 2">

            <div class="container download-container">
              <h3>Document List</h3>
              <div class="doc-block-wrapper">
                <div class="doc-block">
                  <h4>Application Form Download</h4>
                  <div class="download-application-row">
                    <div class="download-application-block">Application</div>
                    <div class="doc-download">
                      <a [href]="sanitize(downloadLink)" target="_blank" download="doc.pdf" class="btn btn-primary btn-sm download doc-download-link">
                        <i class="fas fa-cloud-download-alt"></i> Download
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="f1-buttons">
              <button (click)="changeProgressStatuses(1)" type="button" class="btn btn-previous"><i class="fas fa-backward"></i>
                Previous</button>
              <button (click)="changeProgressStatuses(3)" type="button" class="btn btn-next">Next <i class="fas fa-forward"></i></button>
            </div>

          </fieldset>
          <!--end of third step-->



          <fieldset [hidden]="stepOn != 3">



            <div class="alert alert-warning" role="alert">

              <p>
                <small>Please upload all files in pdf format,upload only A4 Size, portrait orientation and file size
                  should be less
                  than 4 MB.</small>
              </p>
              <p>
                <small>Please remove cover page of 'ARTICLES OF THE ASSOCIATION' Document</small>.</p>
            </div>

            <hr>

            <div class="container uploaded-container">


              <div class="row upload-row">
                <div class="col-9 doc">
                  Application Form
                </div>

                <div class="col">
                  <!-- *ngIf="item of application"  *ngIf="item of application(wine.Id)" -->

                  <div class="float-right">

                    <label for="af" class="upload-wrapper btn btn-primary btn-sm download">
                      <i class="fas fa-cloud-upload-alt"></i> Upload
                    </label>
                    <input style="display:block;position: fixed;top:-100000px" id="af" type="file" (change)="fileUpload($event,description1,'applicationUpload')"
                      placeholder="Upload file" accept=".pdf">


                  </div>


                </div>

                <div class="col-12 uploaded-doc" *ngFor="let item of application; let i = index">
                  <span (click)="ngOnDownload(item.token)" class="view-file"><i class="fas fa-file-pdf"></i>view &emsp;</span>{{item.name}}
                  <span (click)="fileDelete(item.id,'applicationUpload',i)" class="remove-file"><i class="fas fa-minus-circle"></i></span>

                </div>

              </div>

              <hr>




              <div class="row upload-row">
                <div class="col-3 doc">
                  Education Certificates
                </div>

                <div class="col-5">
                  <input style="float: left;" class="form-control form-control-sm" name="description1" [(ngModel)]="description1"
                    placeholder="Mention The Relevant Document Name">
                </div>

                <div class="col-4 ">
                  <div class="float-right">
                    <label for="ec" class="upload-wrapper btn btn-primary btn-sm download">
                      <i class="fas fa-cloud-upload-alt"></i> Upload
                    </label>
                    <input style="display:block;position: fixed;top:-100000px; float: right;" id="ec" type="file"
                      (change)="fileUpload($event,description1,'eCertificateUpload')" placeholder="Upload file" accept=".pdf">
                  </div>
                </div>


                <div class="col-12 uploaded-doc" *ngFor="let item of eCertificateUploadList; let i = index">
                  <span (click)="ngOnDownload(item.token)" class="view-file"><i class="fas fa-file-pdf"></i>view &emsp;</span>{{item.name}}
                  <span (click)="fileDelete(item.id,'eCertificateUpload',i)" class="remove-file"><i class="fas fa-minus-circle"></i></span>
                </div>

              </div>

              <hr>


              <div class="row upload-row">
                <div class="col-3 doc">
                  Professional Certificates
                </div>

                <div class="col-5">
                  <input style="float: left;" class="form-control form-control-sm" name="description2" [(ngModel)]="description2"
                    placeholder="Mention The Relevant Document Name">
                </div>

                <div class="col-4 ">
                  <div class="float-right">
                    <label for="pc" class="upload-wrapper btn btn-primary btn-sm download">
                      <i class="fas fa-cloud-upload-alt"></i> Upload
                    </label>
                    <input style="display:block;position: fixed;top:-100000px; float: right;" id="pc" type="file"
                      (change)="fileUpload($event,description2,'pCertificateUpload')" placeholder="Upload file" accept=".pdf">
                  </div>
                </div>


                <div class="col-12 uploaded-doc" *ngFor="let item of pCertificateUploadList; let i = index">
                  <span (click)="ngOnDownload(item.token)" class="view-file"><i class="fas fa-file-pdf"></i>view &emsp;</span>{{item.name}}
                  <span (click)="fileDelete(item.id,'pCertificateUpload',i)" class="remove-file"><i class="fas fa-minus-circle"></i></span>
                </div>

              </div>

              <hr>

              <div class="row upload-row">
                <div class="col-3 doc">
                  Work Experience
                </div>

                <div class="col-5">
                  <input style="float: left;" class="form-control form-control-sm" name="description3" [(ngModel)]="description3"
                    placeholder="Mention The Relevant Document Name">
                </div>

                <div class="col-4 ">
                  <div class="float-right">
                    <label for="we" class="upload-wrapper btn btn-primary btn-sm download">
                      <i class="fas fa-cloud-upload-alt"></i> Upload
                    </label>
                    <input style="display:block;position: fixed;top:-100000px; float: right;" id="we" type="file"
                      (change)="fileUpload($event,description3,'experienceUpload')" placeholder="Upload file" accept=".pdf">
                  </div>
                </div>


                <div class="col-12 uploaded-doc" *ngFor="let item of experienceUploadList; let i = index">
                  <span (click)="ngOnDownload(item.token)" class="view-file"><i class="fas fa-file-pdf"></i>view &emsp;</span>{{item.name}}
                  <span (click)="fileDelete(item.id,'experienceUpload',i)" class="remove-file"><i class="fas fa-minus-circle"></i></span>
                </div>

              </div>


            </div>


            <div class="f1-buttons">
              <button (click)="changeProgressStatuses(2)" type="button" class="btn btn-previous"><i class="fas fa-backward"></i>
                Previous</button>
              <button (click)="changeProgressStatuses(4)" type="button" class="btn btn-next">Next
                <i class="fas fa-forward"></i></button>
            </div>


          </fieldset>
          <!--end of fourth step-->


          <fieldset class="{{stepOn}}" [hidden]="stepOn != 4">

            <div class="alert alert-warning" role="alert">

              <p>
                <small>For registration of individuals as Company Secretaries :Rs 5,000.00</small>
              </p>
              <p>
                <small>Follow the guidelines to payment process</small>.</p>
            </div>



            <div class="f1-buttons">
              <button (click)="changeProgressStatuses(3)" type="button" class="btn btn-previous"><i class="fas fa-backward"></i>
                Previous</button>
              <button (click)="changeProgressStatuses(5)" type="button" class="btn btn-submit">PAY</button>
            </div>
          </fieldset>
          <!--end of fifth step-->



        </form>

      </div>
      <div style="clear:both"></div>
      <br />
      <br />
      <!--end right col main-->
    </div>
  </div>
</section>





<!--addd work history modal-->

<div class="float-center">
  <div mdbModal #frame="mdbModal" class="modal fade left" id="frameModalTop" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="true" [config]="{ backdrop: true, ignoreBackdropClick: true }">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title w-100 font-weight-bold">Applicant Work History</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group row">
            <label f class="col col-form-label col-form-label-sm">Name of public or private sector body applicant
              has served
              <span class="req">*</span></label>
            <div class="col-sm-12">
              <input (input)="secretaryValidationStep3()" pattern="[a-zA-Z ]*" class="form-control form-control-sm"
                required minlength="4" id="c_name" name="company_name" [(ngModel)]="secretaryWorkHistory.companyName"
                placeholder="Name of company">
              <span class="req-message">Valid name required</span>
            </div>
          </div>
          <div class="form-group row">
            <label f class="col-sm-3 col-form-label col-form-label-sm">Position held
              <span class="req">*</span></label>
            <div class="col-sm-12">
              <input (input)="secretaryValidationStep3()" pattern="[a-zA-Z ]*" class="form-control form-control-sm"
                required minlength="4" id="p_name" name="position" [(ngModel)]="secretaryWorkHistory.position"
                placeholder="Position held">
              <span class="req-message">Valid position required</span>
            </div>
          </div>
          <small>Please mention the period of service</small>
          <div class="form-group row">


            <div class="form-group col-md-3"><label class="col-form-label col-form-label-sm">From
                <span class="req">*</span></label>
              <input (input)="secretaryValidationStep3()" type="date" class="form-control form-control-sm" required id="from"
                name="from" [(ngModel)]="secretaryWorkHistory.from">

            </div>

            <div class="form-group col-md-3"><label class="col-form-label col-form-label-sm">To
                <span class="req">*</span></label>
              <input (input)="secretaryValidationStep3()" type="date" class="form-control form-control-sm" required id="to"
                name="to" [(ngModel)]="secretaryWorkHistory.to">

            </div>

          </div>

        </div>

        <div class="modal-footer" style="justify-content: flex-end">

          <button style="background-color: #bbb!important;" type="button" mdbBtn color="secondary" (click)="resetAddWorkHistory()"
            class="btn btn-previous" mdbWavesEffect>RESET</button>&nbsp;

          <button [disabled]="!enableWorkHistorySubmission" type="button" mdbBtn color="secondary" (click)="addWorkHistoryToArray(); secretaryValidationStep2(); frame.hide();"
            class="btn btn-sm relative waves-light add-new-work-his add-director" mdbWavesEffect>ADD</button>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- 
<div id="content" #content>



</div> -->