@import "theme-veriable";
// .modal-header {
//   .form-control-login {
//     outline: none $im;
//     box-shadow: none $im;
//     padding: 5px 20px;
//     border-bottom: 1px solid $primary $im;
//     border-radius: $border-radius $im;
//     box-sizing: content-box $im;
//     background-color: transparent $im;
//     &:focus:not([readonly]) {
//       border-bottom: 1px solid $primary $im;
//       +label {
//         color: $primary $im;
//       }
//     }
//   }
// }
// .modal-body {
//   input[type="checkbox"] {
//     margin: 0px 10px 0px 0px;
//   }
// }
.avatar-pic {
  width: 150px;
}

h5 {
  color: $secondary;
}

.modal-footer {
  button {
    width: 100%;
    background: $primary;
    font-family: Oswald;
    font-size: 16px;
    padding: 0.6rem 2.14rem $im;
  }
}

.btn-round {
  border-radius: $border-radius;
}

.bottom-padding {
  padding-bottom: 50px;
}

.bg-back {
  background: $white $im;
  padding: 58px $im;
}

.user-avatar {
  margin-right: 40px;
  margin-top: 20px;
  width: 150px $im;
  height: 100px $im;
  position: absolute;
  right: 0;
}

.left-margin{
  margin-left: 40px;
}


